# Byte-compiled
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
.env/
.env.local/
.venv/

# Environment variables
*.env
*.env.*

# VSCode
.vscode/

# Python packaging
build/
dist/
*.egg-info/

# Cache
.cache/
